<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('http://fonts.googleapis.com/css?family=Lato:400,700');
        @import url('https://fonts.googleapis.com/css?family=Acme');
    </style>
    <title>Document</title>
</head>
<style>
    #bgi{
    background-color: grey;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;

}
body { 
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;

}
.container{
    margin-top: 0vh;
    padding-top: 15vh;
    align-content: center;
    text-align: center;
}
h2{
    margin-top: 0vh;
    position: relative;
    padding-top: 1vh;
    margin-top: 0vh;
    margin-right: 0vw;
    color: #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 61px;
}
h1{
    margin-top: 0vh;
    position: relative;
    padding-top: 1vh;
    margin-top: 0vh;
    margin-right: 0vw;
    color: #FFFFFF;
    font-family: 'Acme';
    font-style: normal;
    font-weight: normal;
    font-size: 61px;
}


span{
    font-family: arial;
}
#btn {
    align-items: center ;
    background-color: transparent;
    border-radius: 1.4vw;
    margin-top: 0vh;
    position: relative;
    padding: 1vh 1vw 1vh 1vw;
    color: #FFFFFF;
    font-family: 'Acme';
    font-style: normal;
    font-weight: normal;
    border: none;
    font-size: 24px;
}
#btn:hover{
    background-color: #ffffff;
    color: grey;
}
</style>
   
<body>
    <div id="bgi"></div>
    <div class="container">
        <h2>Oh ho<span >:(</span></h2>
        <h1>Looks like you made a typo while confirming your password</h1>
        <h1>No problem let's try again  <span >:)</span></h1>
        <form action="/add_restaurant" method="get"><button id="btn">Click here to add again</button></form>
    </div>
    
    
</body>
</html>